<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>京北草原，纵马豪情</string>
		<key>intro</key>
		<string>京北草原，纵马豪情</string>
		<key>detailIntro</key>
		<string>京北草原，纵马豪情京北草原，纵马豪情京北草原，纵马豪情京北草原，纵马豪情京北草原，纵马豪情</string>
		<key>baseIntroThumb</key>
		<string>沽源头图.jpg</string>
		<key>city_of_hotel_Info</key>
		<array>
			<dict>
				<key>hotelMapImage</key>
				<string>hotelMap_guyuan.png</string>
				<key>hotelInfo</key>
				<array>
					<dict>
						<key>hotelName</key>
						<string>张家口农家院</string>
						<key>RoomType</key>
						<string>舒适型、标准间</string>
						<key>RoomIntro</key>
						<string>最多双人/双早，无线wifi</string>
						<key>hotelPrice</key>
						<string>120</string>
					</dict>
					<dict>
						<key>hotelName</key>
						<string>张家口格林豪泰大酒店</string>
						<key>RoomType</key>
						<string>高档型、标准间</string>
						<key>RoomIntro</key>
						<string>五星级住宿，桑拿洗浴，干净整洁，无线wifi</string>
						<key>hotelPrice</key>
						<string>480</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>hotelMapImage</key>
				<string>hotelMap_guyuan.png</string>
				<key>hotelInfo</key>
				<array>
					<dict>
						<key>hotelName</key>
						<string>闪电湖农家院</string>
						<key>RoomType</key>
						<string>舒适型、标准间</string>
						<key>RoomIntro</key>
						<string>干净整洁，无线wifi</string>
						<key>hotelPrice</key>
						<string>150</string>
					</dict>
					<dict>
						<key>hotelName</key>
						<string>闪电湖大酒店</string>
						<key>RoomType</key>
						<string>高档型、标准间</string>
						<key>RoomIntro</key>
						<string>五星级住宿，桑拿洗浴，干净整洁，无线wifi</string>
						<key>hotelPrice</key>
						<string>520</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>introImages</key>
		<array>
			<string>滦河神韵1.jpg</string>
			<string>滦河神韵2.jpg</string>
			<string>滦河神韵3.jpg</string>
			<string>情人谷1.jpg</string>
			<string>情人谷2.jpg</string>
			<string>情人谷3.jpg</string>
			<string>闪电湖1.jpg</string>
			<string>闪电湖2.jpg</string>
			<string>闪电湖3.jpg</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>春暖花开，面朝大海</string>
		<key>intro</key>
		<string>春暖花开，面朝大海</string>
		<key>detailIntro</key>
		<string>春暖花开，面朝大海春暖花开，面朝大海春暖花开，面朝大海春暖花开，面朝大海春暖花开，面朝大海春暖花开，面朝大海</string>
		<key>baseIntroThumb</key>
		<string>沽源头图.jpg</string>
		<key>introImages</key>
		<array>
			<string>滦河神韵1.jpg</string>
			<string>滦河神韵2.jpg</string>
			<string>滦河神韵3.jpg</string>
			<string>情人谷1.jpg</string>
			<string>情人谷2.jpg</string>
			<string>情人谷3.jpg</string>
			<string>闪电湖1.jpg</string>
			<string>闪电湖2.jpg</string>
			<string>闪电湖3.jpg</string>
		</array>
		<key>city_of_hotel_Info</key>
		<array>
			<dict>
				<key>hotelMapImage</key>
				<string>hotelMap_guyuan.png</string>
				<key>hotelInfo</key>
				<array>
					<dict>
						<key>hotelName</key>
						<string>张家口农家院</string>
						<key>RoomType</key>
						<string>舒适型、标准间</string>
						<key>RoomIntro</key>
						<string>干净整洁，无线wifi</string>
						<key>hotelPrice</key>
						<string>120</string>
					</dict>
					<dict>
						<key>hotelName</key>
						<string>张家口格林豪泰大酒店</string>
						<key>RoomType</key>
						<string>舒适型、标准间</string>
						<key>RoomIntro</key>
						<string>五星级住宿，桑拿洗浴，干净整洁，无线wifi</string>
						<key>hotelPrice</key>
						<string>480</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>hotelMapImage</key>
				<string>hotelMap_guyuan.png</string>
				<key>hotelInfo</key>
				<array>
					<dict>
						<key>hotelName</key>
						<string>闪电湖农家院</string>
						<key>RoomType</key>
						<string>舒适型、标准间</string>
						<key>RoomIntro</key>
						<string>干净整洁，无线wifi</string>
						<key>hotelPrice</key>
						<string>150</string>
					</dict>
					<dict>
						<key>hotelName</key>
						<string>闪电湖大酒店</string>
						<key>RoomType</key>
						<string>舒适型、标准间</string>
						<key>RoomIntro</key>
						<string>五星级住宿，桑拿洗浴，干净整洁，无线wifi</string>
						<key>hotelPrice</key>
						<string>520</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>第三条路线</string>
		<key>intro</key>
		<string>关于第三条路线的简介，一句话吸引人</string>
		<key>detailIntro</key>
		<string>第三条路线的详情介绍，概览</string>
		<key>baseIntroThumb</key>
		<string>沽源头图.jpg</string>
		<key>introImages</key>
		<array>
			<string>滦河神韵1.jpg</string>
			<string>滦河神韵2.jpg</string>
			<string>滦河神韵3.jpg</string>
			<string>情人谷1.jpg</string>
			<string>情人谷2.jpg</string>
			<string>情人谷3.jpg</string>
			<string>闪电湖1.jpg</string>
			<string>闪电湖2.jpg</string>
			<string>闪电湖3.jpg</string>
		</array>
		<key>city_of_hotel_Info</key>
		<array>
			<dict>
				<key>hotelMapImage</key>
				<string>hotelMap_guyuan.png</string>
				<key>hotelInfo</key>
				<array>
					<dict>
						<key>hotelName</key>
						<string>张家口农家院</string>
						<key>RoomType</key>
						<string>舒适型、标准间</string>
						<key>RoomIntro</key>
						<string>干净整洁，无线wifi</string>
						<key>hotelPrice</key>
						<string>120</string>
					</dict>
					<dict>
						<key>hotelName</key>
						<string>张家口格林豪泰大酒店</string>
						<key>RoomType</key>
						<string>舒适型、标准间</string>
						<key>RoomIntro</key>
						<string>五星级住宿，桑拿洗浴，干净整洁，无线wifi</string>
						<key>hotelPrice</key>
						<string>480</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>hotelMapImage</key>
				<string>hotelMap_guyuan.png</string>
				<key>hotelInfo</key>
				<array>
					<dict>
						<key>hotelName</key>
						<string>闪电湖农家院</string>
						<key>RoomType</key>
						<string>舒适型、标准间</string>
						<key>RoomIntro</key>
						<string>干净整洁，无线wifi</string>
						<key>hotelPrice</key>
						<string>150</string>
					</dict>
					<dict>
						<key>hotelName</key>
						<string>闪电湖大酒店</string>
						<key>RoomType</key>
						<string>舒适型、标准间</string>
						<key>RoomIntro</key>
						<string>五星级住宿，桑拿洗浴，干净整洁，无线wifi</string>
						<key>hotelPrice</key>
						<string>520</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>第四条路线</string>
		<key>intro</key>
		<string>关于第四条路线的简介，一句话吸引人</string>
		<key>detailIntro</key>
		<string>第四条路线的详情介绍，概览</string>
		<key>baseIntroThumb</key>
		<string>沽源头图.jpg</string>
		<key>introImages</key>
		<array>
			<string>滦河神韵1.jpg</string>
			<string>滦河神韵2.jpg</string>
			<string>滦河神韵3.jpg</string>
			<string>情人谷1.jpg</string>
			<string>情人谷2.jpg</string>
			<string>情人谷3.jpg</string>
			<string>闪电湖1.jpg</string>
			<string>闪电湖2.jpg</string>
			<string>闪电湖3.jpg</string>
		</array>
		<key>city_of_hotel_Info</key>
		<array>
			<dict>
				<key>hotelMapImage</key>
				<string>hotelMap_guyuan.png</string>
				<key>hotelInfo</key>
				<array>
					<dict>
						<key>hotelName</key>
						<string>张家口农家院</string>
						<key>RoomType</key>
						<string>舒适型、标准间</string>
						<key>RoomIntro</key>
						<string>干净整洁，无线wifi</string>
						<key>hotelPrice</key>
						<string>120</string>
					</dict>
					<dict>
						<key>hotelName</key>
						<string>张家口格林豪泰大酒店</string>
						<key>RoomType</key>
						<string>舒适型、标准间</string>
						<key>RoomIntro</key>
						<string>五星级住宿，桑拿洗浴，干净整洁，无线wifi</string>
						<key>hotelPrice</key>
						<string>480</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>hotelMapImage</key>
				<string>hotelMap_guyuan.png</string>
				<key>hotelInfo</key>
				<array>
					<dict>
						<key>hotelName</key>
						<string>闪电湖农家院</string>
						<key>RoomType</key>
						<string>舒适型、标准间</string>
						<key>RoomIntro</key>
						<string>干净整洁，无线wifi</string>
						<key>hotelPrice</key>
						<string>150</string>
					</dict>
					<dict>
						<key>hotelName</key>
						<string>闪电湖大酒店</string>
						<key>RoomType</key>
						<string>舒适型、标准间</string>
						<key>RoomIntro</key>
						<string>五星级住宿，桑拿洗浴，干净整洁，无线wifi</string>
						<key>hotelPrice</key>
						<string>520</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>第五条路线</string>
		<key>intro</key>
		<string>关于第五条路线的简介，一句话吸引人</string>
		<key>detailIntro</key>
		<string>第五条路线的详情介绍，概览</string>
		<key>baseIntroThumb</key>
		<string>沽源头图.jpg</string>
		<key>introImages</key>
		<array>
			<string>滦河神韵1.jpg</string>
			<string>滦河神韵2.jpg</string>
			<string>滦河神韵3.jpg</string>
			<string>情人谷1.jpg</string>
			<string>情人谷2.jpg</string>
			<string>情人谷3.jpg</string>
			<string>闪电湖1.jpg</string>
			<string>闪电湖2.jpg</string>
			<string>闪电湖3.jpg</string>
		</array>
		<key>city_of_hotel_Info</key>
		<array>
			<dict>
				<key>hotelMapImage</key>
				<string>hotelMap_guyuan.png</string>
				<key>hotelInfo</key>
				<array>
					<dict>
						<key>hotelName</key>
						<string>张家口农家院</string>
						<key>RoomType</key>
						<string>舒适型、标准间</string>
						<key>RoomIntro</key>
						<string>干净整洁，无线wifi</string>
						<key>hotelPrice</key>
						<string>120</string>
					</dict>
					<dict>
						<key>hotelName</key>
						<string>张家口格林豪泰大酒店</string>
						<key>RoomType</key>
						<string>舒适型、标准间</string>
						<key>RoomIntro</key>
						<string>五星级住宿，桑拿洗浴，干净整洁，无线wifi</string>
						<key>hotelPrice</key>
						<string>480</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>hotelMapImage</key>
				<string>hotelMap_guyuan.png</string>
				<key>hotelInfo</key>
				<array>
					<dict>
						<key>hotelName</key>
						<string>闪电湖农家院</string>
						<key>RoomType</key>
						<string>舒适型、标准间</string>
						<key>RoomIntro</key>
						<string>干净整洁，无线wifi</string>
						<key>hotelPrice</key>
						<string>150</string>
					</dict>
					<dict>
						<key>hotelName</key>
						<string>闪电湖大酒店</string>
						<key>RoomType</key>
						<string>舒适型、标准间</string>
						<key>RoomIntro</key>
						<string>五星级住宿，桑拿洗浴，干净整洁，无线wifi</string>
						<key>hotelPrice</key>
						<string>520</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
